<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Not Found</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    div.center-screen {
      height: 100vh;
      position: relative
    }

    div.center-screen h1 {
      font-size: 100px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
  </style>
</head>

<body>

  <div class="container-fluid center-screen bg-light">
    <h1 class="text-secondary">Page Not Found</h1>
  </div>

</body>

</html>
